src/ASPNETCoreAngularDemo/node_modules/
src/ASPNETCoreAngularDemo/obj
src/ASPNETCoreAngularDemo/wwwroot/js
src/ASPNETCoreAngularDemo/typings
src/ASPNETCoreAngularDemo/bin
src/ASPNETCoreAngularDemo/node_modules
.vs/
npm-debug.log
src/ASPNETCoreAngularDemo/npm-debug.log*
src/ASPNETCoreAngularDemo/ASPNETCoreAngular2Demo.xproj.user
src/ASPNETCoreAngularDemo/wwwroot/app/
src/ASPNETCoreAngularDemo/wwwroot/css
src/ASPNETCoreAngularDemo/.vscode
src/ASPNETCoreAngularDemo/.temp
src/ASPNETCoreAngularDemo/angularApp/**/*.js
src/ASPNETCoreAngularDemo/angularApp/**/*.js.map
